@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #050505;
    color: #ffffff;
  }
  html, body {
    @apply bg-marpo-bg text-white m-0 p-0 overflow-x-hidden;
    background-color: #050505 !important;
  }
}

/* 전술적 유리 질감 (Glassmorphism) */
.marpo-glass {
  @apply bg-marpo-zinc/30 border border-marpo-zinc backdrop-blur-xl;
}