@import "tailwindcss";

@theme {
  --color-marpo-bg: #050505;
  --color-marpo-amber: #f39c12;
  --color-marpo-neon: #a3e235;
  --color-marpo-zinc: #1a1a1b;
  --font-urbanist: "Urbanist", sans-serif;
}

html, body {
  background-color: var(--color-marpo-bg);
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-marpo-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-marpo-amber);
  border-radius: 10px;
}